/**
 * html结构
 * <button type="button" class="rc_btn btn_success">完成</button>
   <button type="button" class="rc_btn btn_default">默认</button>
 */
 .rc_btn{
   display: inline-block;
   overflow: visible;
   padding: 0 22px;
   height: 30px;
   line-height: 28px;
   vertical-align: middle;
   text-align: center;
   text-decoration: none;
   border-radius: 3px;
   font-size: 14px;
   border-width: 1px;
   border-style: solid;
   cursor: pointer;
   min-width: 80px;
 }
 .rc_btn.btn_success{
   border-color: #56B3F6;
   color: #fff;
   background-color: #56B3F6;
 }
 .rc_btn.btn_default{
   border-color: #e7e7eb;
   color: #222;
   background-color: #fff;
 }
 .rc_btn.btn_success:hover{
   background-color: #43A0E3;
 }
 .rc_btn.btn_default:hover{
   background-color: #e7e7eb;
 }
